.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  display: flex;
  flex-direction: column;
}

.attendee {
  display: flex;
  justify-content: center;
}

.potluck {
  background-color: burlywood;
  height: 700px;
}

body {
  background-image:url(https://potluckplanner-git-master.build-week1.vercel.app/images/potluck2.jpg);
  background-size: 60vh;
  background-position: center;
}

input {
  margin: 0 20%;
  text-align: center;
}

input.appetizer {
  margin: 0 2%;
}

input.entree {
  margin: 0 2%;
}

input.side {
  margin: 0 2%;
}

input.dessert {
  margin: 0 2%;
}
